<table class='table table-<{$table_type|default:false}>'>
    <thead>
        <tr class='head'>
            <th>&nbsp;</th>
            <th class='center'><{$smarty.const._MB_TESTIMONIAL_TESTI_TITLE}></th>
            <th class='center'><{$smarty.const._MB_TESTIMONIAL_TESTI_DESCR}></th>
            <th class='center'><{$smarty.const._MB_TESTIMONIAL_TESTI_IMG}></th>
            <th class='center'><{$smarty.const._MB_TESTIMONIAL_TESTI_PROFESSION}></th>
            <th class='center'><{$smarty.const._MB_TESTIMONIAL_TESTI_DATE}></th>
        </tr>
    </thead>
    <{if count($block)}>
    <tbody>
        <{foreach item=testimonial from=$block}>
        <tr class='<{cycle values="odd, even"}>'>
            <td class='center'><{$testimonial.id}></td>
            <td class='center'><{$testimonial.title}></td>
            <td class='center'><{$testimonial.descr}></td>
            <td class='center'><img src="<{$testimonial_upload_url|default:false}>/images/testimonials/<{$testimonial.img}>" alt="testimonials" ></td>
            <td class='center'><{$testimonial.profession}></td>
            <td class='center'><{$testimonial.date}></td>
            <td class='center'><a href='testimonials.php?op=show&amp;testi_id=<{$testimonial.id}>' title='<{$smarty.const._MB_TESTIMONIAL_TESTIMONIAL_GOTO}>'><{$smarty.const._MB_TESTIMONIAL_TESTIMONIAL_GOTO}></a></td>
        </tr>
        <{/foreach}>
    </tbody>
    <{/if}>
    <tfoot><tr><td>&nbsp;</td></tr></tfoot>
</table>

 <img src="<{$testimonial_upload_url|default:false}>/uploads/testimonial/images/testimonials/<{$testimonial.img}>" alt="<{$testimonial.title}>" />